{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true,
  },
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "react/prop-types": 0,
    "no-undef": "error",
    "no-unused-vars": "error",
    "prettier/prettier": ["error", {
      "printWidth": 120,
      "singleQuote": true,
      "semi": false
    }],
    "curly": "error"
  },
}